.about-us-list {
  gap: 30px;
}

.about-wraper {
  padding-left: 31px;
}

.about-wraper > .description {
  margin-bottom: 20px;
}

.about-descr-wraper {
  max-width: 500px;
}

.about-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  width: 500px;
  margin-bottom: 42px;

  color: var(--primary-text-color-theme-light);
}
