.footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer > .flex-container {
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-theme-dark);
}

.footer .cocial-links-list-item:not(:last-child) {
  margin-right: 40px;
}
