.prices-section {
  background-color: #111319;
  background-image: url("../images/prices-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.prices-list {
  width: 585px;
  padding: 30px 40px;
}

.prices-list-item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.prices-list-wraper {
  margin-bottom: 50px;
}

.prices-list-left {
  width: 585px;
  height: 240px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-right {
  width: 585px;
  height: 240px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices .modal-btn {
  display: block;
  color: var(--secondary-text-color-theme-dark);
  margin-left: auto;
  margin-right: auto;
}
